<app-header></app-header>

<div class="container">
    <div class="table-wrapper">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <a href="/noticias" class="btn btn-primary">Acessar Notícias</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <a href="/videos" class="btn btn-primary">Acessar Vídeos</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <a href="/galeria" class="btn btn-primary">Acessar Galeria</a>
                </div>
            </div>
        </div>
    </div>