<app-header></app-header>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Gerenciamento de <b>Galeria</b></h2>
                </div>
                <div class="col-sm-6">
                    <a (click)="addGallery(modalData)" class="btn btn-success"><i class="material-icons">&#xE147;</i>
                        <span>Nova
                            Galeria</span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Data de publicação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gallery of galleryList">
                    <td class="col-sm-4">{{gallery.title}}</td>
                    <td class="col-sm-4">{{gallery.author}}</td>
                    <td class="col-sm-2">{{gallery.publishDate | date}}</td>

                    <td class="col-sm-2">
                        <a (click)="editGallery(modalData, gallery.id)" class="edit" data-toggle="modal"><i
                                class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a (click)="deleteGallery(gallery.id)" class="delete"><i class="material-icons"
                                data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example" style="cursor: pointer;">
        <ul class="pagination justify-content-center">
            <li class="page-item" *ngFor="let page of totalPages;let i = index" (click)="pagination(i + 1)"><a
                    class="page-link">{{i +
                    1}}</a></li>
        </ul>
    </nav>

</div>


<ng-template #modalData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{formLabel}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="modal-body">
            <div class="form-group">
                <label>Título:</label>
                <input type="text" [(ngModel)]="gallery.title" value="{{gallery.title}}" class="form-control" required>

            </div>
            <div class="form-group">
                <label>Legenda:</label>
                <input type="text" value="{{gallery.legend}}" [(ngModel)]="gallery.legend" class="form-control"
                    required>
            </div>
            <div class="form-group">
                <label>Autor:</label>
                <input type="text" value="{{gallery.author}}" [(ngModel)]="gallery.author" class="form-control"
                    required>
            </div>

            <div class="form-group">
                <label>Tags:</label>
                <input type="text" value="{{gallery.tags}}" [(ngModel)]="gallery.tags" class="form-control" required>
            </div>


            <div class="form-group">
                <label>Thumb:</label>
                <input type="file" (change)="selectThumb($event)" class="form-control">
                <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder">
            </div>

            <div class="form-group">
                <label>Status:</label>
                <select [(ngModel)]="gallery.status">
                    <option [selected]="gallery.status == 1 ? 'selected' : ''" value="1">Ativo</option>
                    <option [selected]="gallery.status == 2 ? 'selected' : ''" value="2">Inativo</option>
                    <option [selected]="gallery.status == 3 ? 'selected' : ''" value="3">Rascunho</option>
                </select>
            </div>


            <div class="form-group">
                <label>Galeria de imagens:</label>
                <input type="file" multiple (change)="selectFile($event)" class="form-control">

                <div *ngIf="gallery.galleryImages" class="container">
                    <div class="row">
                        <div class="col-12" *ngFor="let image of gallery.galleryImages; let i = index">
                            <img style="margin: 10px;height: 126px;float:left; width: 200px;" src="{{ image }}">
                            <a (click)="removeImageGallery(image)" class="delete" style="color:red;cursor: pointer;"><i
                                    class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <input type="button" (click)="modal.close('Save click')" class="btn btn-danger" data-dismiss="modal"
                value="Cancelar">
            <input type="submit" (click)="sendForm()" class="btn btn-success" value="{{btnLabel}}">
        </div>
    </div>


</ng-template>